/* ==========================
   GOOGLE FONT
========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:'Poppins',sans-serif;

background:#0d0d0d;

color:#fff;

overflow-x:hidden;

}

/* NAVBAR */

.navbar{

background:rgba(0,0,0,.75);

backdrop-filter:blur(10px);

transition:.4s;

padding:15px 0;

}

.navbar-brand{

font-size:30px;

font-weight:700;

color:#D4AF37 !important;

}

.nav-link{

color:white !important;

margin-left:20px;

font-size:17px;

transition:.3s;

}

.nav-link:hover{

color:#D4AF37 !important;

}

.btn-warning{

background:#D4AF37;

border:none;

color:black;

font-weight:600;

padding:12px 28px;

border-radius:50px;

transition:.4s;

}

.btn-warning:hover{

background:white;

transform:translateY(-4px);

}

.btn-outline-light{

border-radius:50px;

padding:12px 28px;

}

/* HERO */

.hero{

position:relative;

height:100vh;

display:flex;

align-items:center;

justify-content:center;

overflow:hidden;

}

.hero-image{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

z-index:-2;

}

.overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.65);

z-index:-1;

}

.hero-content{

text-align:center;

max-width:850px;

}

.hero-content h1{

font-size:70px;

font-weight:700;

margin-bottom:20px;

}

.hero-content p{

font-size:20px;

margin-bottom:30px;

color:#ddd;

}

.stats{

display:flex;

justify-content:center;

gap:70px;

margin-top:60px;

}

.stats h3{

color:#D4AF37;

font-size:36px;

}

.stats p{

font-size:15px;

color:#ccc;

}
